.container{
    width: 100vw;
    height: 100%;
    display: flex;
    position: absolute;
    color: white;
}
.left{
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 80px;
    position: relative;
    border: 20px solid rgba(38, 38, 38, 0.9) ;
}

.tempContainer{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    align-items: center;
    justify-content: center;
    width: 50px;
}

.Wrapper{
    display: flex;
    gap: 50px;
    margin-left: 40px;
}

.right{
    display: flex;
    flex-direction: column;
    width: 1000px;
    position: relative;
    background-color: #262626;
    opacity: 90%;

}

.windContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 70%;
    border-radius: 20px;
    margin: 20px;
    margin-top: 60px;
    margin-right: 50px;
    height: 120px;
    background-color: black;
}

.RainContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 70%;
    border-radius: 20px;
    margin: 20px;
    margin-right: 50px;
    margin-top: 60px;
    height: 120px;
    background-color: black;
}

.MinMaxContainer{
    display: flex;
    gap: 10%;
    margin: 20px;
    margin-right: 50px;
    margin-top: 60px;
}

.MinMax{
    display: flex;
    gap: 20px;
    height: 120px;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    opacity: 70%;
    width: 45%;
    border-radius: 20px;
}

.Ground{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    background-color: black;
    opacity: 70%;
    width: 45%;
    border-radius: 20px;
}

.city{
    font-size: 45px;
}

.temp{
    font-size: 35px;
    display: flex;
}

.main{
    font-size: 35px;
}

.feelsLikeContainer,.humidityContainer,.visibilityContainer,.pressureContainer{
    background-color: #262626;
    opacity: 90%;
    height: 100px;
    width: 150px;
    border-radius: 20px;
    display: flex;
    padding: 5px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.feelsLike{
    display: flex;
}

.wind,.cloud,.MinMaxTemp,.AtmPressure,.rain,.snow{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}